<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo zitga PNG.png}" />
    <title>Timespawn Games Projects Categories
    </title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body class="layout--single wide" style="margin-bottom: 219.25px;">

    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->



    <div class="masthead">
        <div class="masthead__inner-wrap">
            <div class="masthead__menu">
                <nav id="site-nav" class="greedy-nav">

                    <a class="site-title" href="/">Timespawn Games</a>
                    <ul class="visible-links">
                        <li class="masthead__menu-item">
                            <a href="/home/project">Projects</a>
                        </li>
                        <li class="masthead__menu-item">
                            <a href="/home/category">Categories</a>
                        </li>
                        <li class="masthead__menu-item">
                            <a href="/tags">Tags</a>
                        </li>
                    </ul>

                    <button class="greedy-nav__toggle hidden" type="button" count="0" style="">
          <span class="visually-hidden">Toggle Menu</span>
          <div class="navicon"></div>
        </button>
                    <ul class="hidden-links hidden"></ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="initial-content">
        <div id="main" role="main">
            <div class="sidebar sticky">
                <div itemscope="" itemtype="https://schema.org/Person">
                    <div class="author__avatar">
                        <img th:src="@{/image/logo zitga PNG.png}" alt="Naga Chiang" itemprop="image">

                    </div>


                    <div class="author__content">

                        <h3 class="author__name" itemprop="name">Vu Hai</h3>


                        <p class="author__bio" itemprop="description">
                            Game developer using Unity and UE4. A bold dungeon crawler.
                        </p>

                    </div>

                    <div class="author__urls-wrapper">
                        <button class="btn btn--inverse">Follow</button>
                        <ul class="author__urls social-icons">

                            <li itemprop="homeLocation" itemscope="" itemtype="https://schema.org/Place">
                                <svg class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                                <!-- <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> --><span itemprop="name">Taiwan</span>
                            </li>

                            <li>
                                <a href="mailto:nagachiangdev@gmail.com">
                                    <meta itemprop="email" content="nagachiangdev@gmail.com">
                                    <svg class="svg-inline--fa fa-envelope-square fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                                    <!-- <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> -->Email
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/nagachiang" itemprop="sameAs" rel="nofollow noopener noreferrer">
                                    <svg class="svg-inline--fa fa-twitter-square fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                                    <!-- <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> -->Twitter
                                </a>
                            </li>

                            <li>
                                <a href="https://www.facebook.com/vuhai031194" itemprop="sameAs" rel="nofollow noopener noreferrer">
                                    <svg class="svg-inline--fa fa-facebook-square fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                                    <!-- <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> -->Facebook
                                </a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/in/chchiangnaga" itemprop="sameAs" rel="nofollow noopener noreferrer">
                                    <svg class="svg-inline--fa fa-linkedin fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                                    <!-- <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> -->LinkedIn
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/nagachiang" itemprop="sameAs" rel="nofollow noopener noreferrer">
                                    <svg class="svg-inline--fa fa-github fa-w-16 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                                    <!-- <i class="fab fa-fw fa-github" aria-hidden="true"></i> -->GitHub
                                </a>
                            </li>

                            <li>
                                <a href="https://gitlab.com/NagaChiang" itemprop="sameAs" rel="nofollow noopener noreferrer">
                                    <svg class="svg-inline--fa fa-gitlab fa-w-16 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="gitlab" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                                    <!-- <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> -->GitLab
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>


            <article class="page" itemscope="" itemtype="http://schema.org/CreativeWork">

                <meta itemprop="headline" content="Projects">

                <meta itemprop="datePublished" content="September 14, 2020">


                <div class="page__inner-wrap">

                    <header>
                        <h1 class="page__title" itemprop="headline">Categories
                        </h1>
                        <div class="page__meta">
                        </div>
                    </header>


                    <div th:each="category : ${categories}">
                        <h2 id="ai" class="archive__subtitle" th:text="${category.name}"></h2>
                        <div style="padding-top:0.5em;"></div>
                        <div class="list__item">
                            <article th:if="${category.news!=null&&!category.news.isEmpty()}" class="archive__item" itemscope="" itemtype="http://schema.org/CreativeWork">
                                <small th:each="news : ${category.news}">
                                    <div style="display:table; padding-bottom:0.3em">
                                        <div style="display:table-cell;">
                                            <span class="page__date">
                                                <time th:text="${#calendars.format(news.createdAt, 'dd-MMM-yyyy')}"></time>
                                            </span>
                                        </div>
                                        <div style="display:table-cell; padding-left:0.5em;">
                                          <span class="page__taxonomy">
                                            <span itemprop="keywords">
                                              <a th:href="@{'/home/category/#'+${category.name}}" class="page__taxonomy-item" th:text="${category.name}" rel="tag"></a>
                                            </span>
                                          </span>
                                        </div>
                                        <div style="display:table-cell; padding-left:0.2em;">
                                            <strong>
                                                <a th:href="@{'/home/news?id='+${news.id}}" rel="permalink" th:text="${news.shortDescription}"></a>
                                            </strong>
                                        </div>
                                    </div>
                                </small>
                            </article>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>



    <div class="page__footer">
        <footer>
            <!-- start custom footer snippets -->

            <!-- end custom footer snippets -->
            <div class="page__footer-follow">
                <ul class="social-icons">

                    <li><strong>Follow:</strong></li>


                    <li><a href="https://twitter.com/NagaChiang"><svg class="svg-inline--fa fa-twitter-square fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg><!-- <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> --> Twitter</a></li>


                    <li><a href="https://facebook.com/NagaGameDev"><svg class="svg-inline--fa fa-facebook-square fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg><!-- <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> --> Facebook</a></li>


                    <li><a href="http://github.com/nagachiang"><svg class="svg-inline--fa fa-github fa-w-16 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg><!-- <i class="fab fa-fw fa-github" aria-hidden="true"></i> --> GitHub</a></li>


                    <li><a href="http://gitlab.com/NagaChiang"><svg class="svg-inline--fa fa-gitlab fa-w-16 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="gitlab" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg><!-- <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> --> Gitlab</a></li>


                    <li><a href="https://nagachiang.github.io/feed.xml"><svg class="svg-inline--fa fa-rss-square fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="rss-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg><!-- <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> --> Feed</a></li>
                </ul>
            </div>

            <div class="page__footer-copyright">© 2020 Naga Chiang. Forked from <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a> with <svg class="svg-inline--fa fa-heart fa-w-16 fa-fw"
                    aria-hidden="true" style="color: #EA0000;" focusable="false" data-prefix="fa" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" ></path></svg>
                <!-- <i class="fa fa-fw fa-heart" aria-hidden="true" style="color:#EA0000;"></i> -->.</div>
        </footer>
    </div>


    <script src="	https://nagachiang.github.io/assets/js/main.min.js"></script>
    <script data-search-pseudo-elements="" defer="" src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-88112502-1', 'auto');
        ga('set', 'anonymizeIp', false);
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async=""></script>









</body>

</html>
